[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rmdpartials"]
	path = rmdpartials
	url = https://github.com/rubenarslan/rmdpartials
