[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "codebook"]
	path = codebook
	url = https://github.com/rubenarslan/codebook
[submodule "rmdpartials"]
	path = rmdpartials
	url = https://github.com/rubenarslan/rmdpartials
